.container {
  display: flex;
  justify-content: center;
  height: 500px;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.container > .swiper {
  position: relative;
  width: 100%;
  height: 100%;
}

#image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.containerAbout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  padding: 20px 50px;
}
.containerAbout > h3 {
  text-align: center;
  font-size: xx-large;
  font-family: "Google", sans-serif;
  font-weight: 500;
  color: #ed1d24;
}
.containerAbout > .containerAbout_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 50px;
}
.containerAbout > .containerAbout_1 > div > p {
  text-align: center;
  font-size: larger;
  font-weight: 600;
  font-variant: normal;
  line-height: 2.2;
  font-family: "Google", sans-serif;
}

.containerAbout > .containerAbout_2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}
.containerAbout > .containerAbout_2 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.containerAbout > .containerAbout_2 > div > p {
  color: #ed1d24;
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
  font-family: "Google", sans-serif;
  text-transform: uppercase;
}

.containerAbout > .containerAbout_3 {
  padding: 20px 30px;
}

.containerAbout > .containerAbout_3 > nav {
  display: flex;
}
.containerAbout > .containerAbout_3 > .containerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  width: 100%;
}
.containerAbout > .containerAbout_3 > .containerWrapper > ul > h3 {
  color: #ed1d24;
}
.containerAbout > .containerAbout_3 > .containerWrapper > ul > li > a {
  text-decoration: none;
}
.containerAbout
  > .containerAbout_3
  > .containerWrapper
  > .containerWrapper_text {
  display: flex;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 250px;
  height: 255px;
  background-color: #ed1d24;
}

.containerAbout
  > .containerAbout_3
  > .containerWrapper
  > .containerWrapper_text
  > p {
  line-height: 1.9;
  font-family: "Google", sans-serif;
  font-size: large;
  font-weight: 500;
  color: white;
  word-spacing: 10px;
  white-space: wrap;
}

#ulparagraf {
  color: #ed1d24;
  word-spacing: 2px;
}
.containerCorporatePartner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #dededede;
}

.containerCorporatePartner > .containerCorporatePartnerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.containerCorporatePartner > .containerCorporatePartnerWrapper > .wrapper_1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.containerCorporatePartner > .containerCorporatePartnerWrapper > .wrapper_2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.containerCorporatePartner > .containerCorporatePartnerWrapper > .wrapper_3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ed1d24;
  width: 100%;
}
.containerCorporatePartner
  > .containerCorporatePartnerWrapper
  > .wrapper_3
  > p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-family: "Google", sans-serif;
  font-weight: 500;
  font-size: x-large;
  color: white;
}

/* Media Querys */
@media only screen and (min-width: 1500px) {
  .containerAbout > .containerAbout_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .containerAbout > .containerAbout_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .containerAbout > .containerAbout_1 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .containerAbout > .containerAbout_1 > div > img {
    width: 300px;
    height: 200px;
  }
}
@media only screen and (min-width: 700px) {
  .containerAbout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 5px 5px;
  }
  .containerAbout > .containerAbout_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    width: 100%;
  }
  .containerAbout > .containerAbout_1 > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .containerAbout > .containerAbout_1 > div > img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    object-position: center;
  }
  .containerAbout > h3 {
    text-align: center;
    font-size: x-large;
    width: 100%;
    font-family: "Google", sans-serif;
    font-weight: 500;
    color: #ed1d24;
    padding: 20px;
  }
  .containerAbout_2 {
    width: 100%;
  }
}
@media only screen and (max-width: 980px) {
  .containerAbout > .containerAbout_3 {
    margin-top: 10px;
    padding: 0px;
  }
  .containerAbout > .containerAbout_3 > nav {
    display: flex;
    justify-content: center;
    gap: 0px;
  }

  .containerAbout > .containerAbout_3 > .containerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    gap: 5px;
    padding: 5px;
  }
  #ulparagraf {
    color: #ed1d24;
    width: 100%;
  }
  #Youtube {
    width: 300px;
    height: 250px;
  }
  .containerAbout
    > .containerAbout_3
    > .containerWrapper
    > .containerWrapper_text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 50%;
  }
  .containerAbout
    > .containerAbout_3
    > .containerWrapper
    > .containerWrapper_text
    > p {
    line-height: normal;
    word-wrap: none;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
  }
  .containerAbout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .containerAbout > h3 {
    text-align: center;
    font-size: x-large;
    font-family: "Google", sans-serif;
    font-weight: 500;
    word-wrap: break-word;
    word-break: keep-all;
    color: #ed1d24;
    width: 100%;
    margin-bottom: 20px;
  }
  .containerAbout > .containerAbout_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    gap: 10px;
  }
  .containerAbout > .containerAbout_1 > div > p {
    text-align: center;
    font-size: larger;
    font-weight: 600;
    font-variant: normal;
    line-height: 2.2;
    font-family: "Google", sans-serif;
  }
  .containerAbout > .containerAbout_1 > div > img {
    width: 300px;
  }
  .containerAbout > .containerAbout_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
  }
  .containerAbout > .containerAbout_2 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .containerAbout > .containerAbout_2 > div > img {
    width: 100px;
  }
  .containerAbout > .containerAbout_2 > div > p {
    color: #ed1d24;
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    font-family: "Google", sans-serif;
    text-transform: uppercase;
  }
  .containerAbout > .containerAbout_3 > nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .containerAbout > .containerAbout_3 > .containerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }
  .containerAbout > .containerAbout_3 > .containerWrapper > ul > h3 {
    color: #ed1d24;
  }
  .containerAbout > .containerAbout_3 > .containerWrapper > ul > li > a {
    text-decoration: none;
  }
  .containerAbout
    > .containerAbout_3
    > .containerWrapper
    > .containerWrapper_text {
    display: flex;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    background-color: #ed1d24;
  }

  .containerAbout
    > .containerAbout_3
    > .containerWrapper
    > .containerWrapper_text
    > p {
    line-height: 1.9;
    font-family: "Google", sans-serif;
    font-size: large;
    font-weight: 500;
    color: white;
    word-spacing: 10px;
    white-space: wrap;
  }
  #Youtube {
    width: 350px;
    height: 300px;
  }
  .containerCorporatePartner > .containerCorporatePartnerWrapper > .wrapper_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ed1d24;
    width: 100%;
  }
  .containerCorporatePartner
    > .containerCorporatePartnerWrapper
    > .wrapper_3
    > p {
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    word-spacing: 3px;
    width: 80%;
    height: 200px;
    margin-top: 30px;
    font-family: "Google", sans-serif;
    font-weight: 500;
    font-size: x-large;
    color: white;
  }
}
/* Media Querys */
