.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  transition: background 0.3s;
}
.swiper-pagination-bullet {
  background: #bf0d0d !important;
}
.swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 0.5) !important;
  transform: scale(2);
}
.swiper-button-next {
  color: #bf0d0d !important ;
}
.swiper-button-prev {
  color: #bf0d0d !important ;
}

.bg-custom {
  background-color: #f7f7f7f7;
}
.polesanHover {
  color: red;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.polesanHover:hover {
  color: black;
  text-decoration: underline;
}
