.forms {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  gap: 20px;
}
.formsInput {
  display: flex;
  align-items: center;
  gap: 20px;
}
.formsInput > input {
  padding: 10px;
  outline: none;
  border: 1px solid;
  border-radius: 50px;
}
